.App {
  font-family: sans-serif;
  text-align: center;
}

.Header {
  border: 1px solid red;
  position: absolute;
  top: 10px;
  width: 100%;
}

.ToDo {
  border: 1px dotted purple;
  position: absolute;
  top: 13%;
  bottom: 12%;
  width: 100%;
  // overflow: scroll;
}

.ToDoList {
  border: 1px solid green;
  overflow: scroll;
  position: absolute;
  top: 26%;
  bottom: 3%;
  width: 100%;
}

.Footer {
  border: 1px solid blue;
  position: absolute;
  bottom: 10px;
  width: 100%;
}